@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black */
  --background-start-rgb: 255, 255, 255; /* White */
  --background-end-rgb: 255, 255, 255; /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White */
    --background-start-rgb: 0, 0, 0; /* Black */
    --background-end-rgb: 0, 0, 0; /* Black */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .animate-typing {
    animation: typing 2s steps(10, end) forwards;
    white-space: nowrap;
    overflow: hidden;
  }
  .animate-blink {
    animation: blink 1s step-end infinite;
  }
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes typing {
  0% { width: 0%; }
  100% { width: 100%; }
}

@keyframes blink {
  0% { border-color: transparent; }
  50% { border-color: black; }
  100% { border-color: transparent; }
}